.collection-item {
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    margin: 10px;
    position: relative;

    &:hover {
        transform: scale(1.05);

        .collection-item__hover {
            display: flex;
        }
    }

    .collection-item__hover {
        align-items: center;
        background: rgba(black, .5);
        color: white;
        display: none;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        position: absolute;
        height: 100%;
        width: 100%;
        justify-content: center;

        .collection-item__favourite {
            align-items: center;
            background: $primary;
            border-radius: 25px;
            display: flex;
            height: 40px;
            justify-content: center;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 40px;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
