.nav-bar {
    align-items: center;
    background: $primary;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 30px;
    height: 70px;
    justify-content: center;
    padding: 10px 0;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 10;

    &.nav-bar--scrolled {
        border-bottom: 1px solid transparent;
        box-shadow: 0 2px 3px rgba($primary, .7);
    }

    .nav-bar__icon {
        align-items: center;
        background: none;
        border: none;
        border-radius: 25px;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 30px;
        height: 40px;
        justify-content: center;
        left: 10px;
        position: absolute;
        width: 40px;

        &:hover {
            background: tint($primary, 10%);
        }

        &:focus {
            outline: none;
        }

        &.nav-bar__icon--active {
            transform: scale(1.3);
        }
    }

    .nav-bar__title {
        font-size: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
    }

    .nav-bar__right-options {
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        right: 5px;

        .nav-bar__icon {
            font-size: 25px;
            position: static;
            margin: 0 5px;
        }
    }
}
