.page-info {
    align-items: center;
    color: #333;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    height: calc(100% - 70px);
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 500;
}
