.options  {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    & > button {
        margin: 10px;
    }
}

.word-cloud {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &.word-cloud--as-list {
        flex-direction: column;

        .word-cloud__word {
            font-size: 40px !important;
            justify-content: center;
        }

    }

    .word-cloud__word {
        align-items: end;
        color: #333;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        margin: 10px;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}
