* {
    font-family: 'Rubik', sans-serif;
}

a {
    color: $primary;
}

.button {
    background: $primary;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin: 10px;
    width: 150px;

    &:hover {
        background: shade($primary, 15%);
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background: tint($primary, 30%);
        cursor: default;
    }

    &.button--selected {
        background: shade($primary, 50%);
        transform: scale(1.1);

        &:hover {
            background: shade($primary, 60%);
        }
    }

    &.button--icon {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50px;
    }

    &.button--floating {
        @extend .button--icon;

        border-radius: 25px;
        box-shadow: 2px 2px 3px rgba(black, .5);
    }
}

.form__checkbox {
    cursor: pointer;
    display: block;
    padding-top: 3px;
    padding-left: 35px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .form__checkbox__check {
        background-color: #E5E5E5;
        height: 25px;
        left: 0;
        position: absolute;
        top: 0;
        width: 25px;

        &::after {
            border: solid white;
            border-width: 0 3px 3px 0;
            content: "";
            display: none;
            height: 10px;
            left: 9px;
            position: absolute;
            top: 5px;
            transform: rotate(45deg);
            width: 5px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }
    }

    &:hover input ~ .form__checkbox__check {
        background-color: #CDCDCD;
    }

    input {
        cursor: pointer;
        height: 0;
        position: absolute;
        opacity: 0;
        width: 0;

        &:checked ~ .form__checkbox__check {
            background-color: $primary;
        }

        &:checked:hover ~ .form__checkbox__check {
            background-color: shade($primary, 10%);
        }

        &:checked ~ .form__checkbox__check::after {
            display: block;
        }
    }
}
