.container {
    height: 100%;
    position: absolute;
    width: 100%;

    .nav-bar {
        position: fixed;
        width: 100%;
    }
}

.century-overview {
    display: flex;
    height: calc(100% - 70px);
    justify-content: space-around;
    overflow: auto;
    position: absolute;
    top: 70px;
    min-width: 100%;
    width: fit-content;

    .century-overview__century {
        background: #E5E5E5;
        color: black;
        cursor: pointer;
        font-weight: bold;
        height: 100%;
        padding: 10px 5px;
        text-align: center;
        text-decoration: none;
        transition: all .1s linear;
        margin: 0 20px;
        width: 70px;

        &:hover {
            background: $primary;
            color: white;
            width: 90px;
        }
    }
}

.century-explorer {
    height: calc(100% - 70px);
    position: absolute;
    top: 70px;

    .date-explorer__century-viewer {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
