.nav-bar .button {
    border-radius: 25px;
}

.details {
    display: flex;
    padding: 10px;

    .details__image {
        align-self: flex-start;
        position: sticky;
        top: 80px;

        & > img {
            max-width: 700px;
            min-width: 300px;
        }
    }

    .details__info {
        flex-grow: 1;
        font-size: 20px;
        margin-left: 10px;

        .details__detail {
            margin: 10px;

            .details__detail-key {
                color: #444;
                text-decoration: underline;
            }

            .details__detail-value {
                font-size: 16px;
                padding: 10px 0 0 10px;
            }
        }
    }
}

.related-title {
    color: #333;
    text-decoration: underline;
    margin-left: 20px;
    text-align: center;
}

.related {
    display: flex;
    overflow: auto;

    .related__image {
        margin: 10px;
    }
}

.button.button--floating {
    bottom: 10px;
    position: fixed;
    right: 10px;
}
