.page-title {
    background: white;
    box-shadow: 0 2px 3px rgba(black, .3);
    font-size: 40px;
    padding: 10px 0;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 10;
}

.image-tile {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
