#container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    position: absolute;
    width: 100%;

    #jumbotron {
        color: $primary;
        font-size: 70px;
        text-align: center;

        & > img {
            height: 190px;
            width: 325px;
        }
    }

    #get-viewing {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        transform: scale(1.5);
        width: 210px;

        & > i {
            position: relative;
        }

        &:hover {
            & > i {
                animation: move 1s infinite;
            }
        }
    }

    @keyframes move {
        0%   {left: 0}
        50% {left: 10px}
        100% {left: 0}
    }
}
