#map {
    height: calc(100% - 70px);
    position: absolute;
    width: 100%;
}

.leaflet-control-container, .leaflet-top.leaflet-right  {
    height: 100%;
    position: relative;
    width: 100%;
}

.info {
    background: white;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 6px 8px;

    h4 {
        color: $primary;
        margin: 0 0 5px;
    }
}

.legend {
    color: #555;
    display: flex;
    flex-direction: column;
    line-height: .5;
    width: fit-content;

    span {
        align-items: center;
        display: flex;

        i {
            float: left;
            height: 18px;
            margin-right: 8px;
            opacity: 0.7;
            width: 18px;
        }
    }
}
