.search-box {
    position: relative;

    .search-icon {
        color: #707070;
        font-size: 20px;
        left: 10px;
        position: absolute;
        top: 6px;
    }

    .search {
        border: none;
        color: #333;
        font-size: 20px;
        height: 50px;
        padding-left: 40px;
        width: 70%;
    }

}

.search-results {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
