@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
* {
  font-family: 'Rubik', sans-serif; }

a {
  color: #D81F27; }

.button {
  background: #D81F27;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin: 10px;
  width: 150px; }
  .button:hover {
    background: #b81a21; }
  .button:focus {
    outline: none; }
  .button:disabled {
    background: #e46268;
    cursor: default; }
  .button.button--selected {
    background: #6c1014;
    transform: scale(1.1); }
    .button.button--selected:hover {
      background: #560c10; }
  .button.button--icon, .button.button--floating {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50px; }
  .button.button--floating {
    border-radius: 25px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }

.form__checkbox {
  cursor: pointer;
  display: block;
  padding-top: 3px;
  padding-left: 35px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .form__checkbox .form__checkbox__check {
    background-color: #E5E5E5;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px; }
    .form__checkbox .form__checkbox__check::after {
      border: solid white;
      border-width: 0 3px 3px 0;
      content: "";
      display: none;
      height: 10px;
      left: 9px;
      position: absolute;
      top: 5px;
      transform: rotate(45deg);
      width: 5px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg); }
  .form__checkbox:hover input ~ .form__checkbox__check {
    background-color: #CDCDCD; }
  .form__checkbox input {
    cursor: pointer;
    height: 0;
    position: absolute;
    opacity: 0;
    width: 0; }
    .form__checkbox input:checked ~ .form__checkbox__check {
      background-color: #D81F27; }
    .form__checkbox input:checked:hover ~ .form__checkbox__check {
      background-color: #c21c23; }
    .form__checkbox input:checked ~ .form__checkbox__check::after {
      display: block; }

.nav-bar {
  align-items: center;
  background: #D81F27;
  border-bottom: 1px solid #DDD;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 30px;
  height: 70px;
  justify-content: center;
  padding: 10px 0;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 10; }
  .nav-bar.nav-bar--scrolled {
    border-bottom: 1px solid transparent;
    box-shadow: 0 2px 3px rgba(216, 31, 39, 0.7); }
  .nav-bar .nav-bar__icon {
    align-items: center;
    background: none;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 40px;
    justify-content: center;
    left: 10px;
    position: absolute;
    width: 40px; }
    .nav-bar .nav-bar__icon:hover {
      background: #dc353d; }
    .nav-bar .nav-bar__icon:focus {
      outline: none; }
    .nav-bar .nav-bar__icon.nav-bar__icon--active {
      transform: scale(1.3); }
  .nav-bar .nav-bar__title {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%; }
  .nav-bar .nav-bar__right-options {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5px; }
    .nav-bar .nav-bar__right-options .nav-bar__icon {
      font-size: 25px;
      position: static;
      margin: 0 5px; }

.page-info {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  height: calc(100% - 70px);
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 500; }

.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%; }

.collection-item {
  align-items: center;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
  position: relative; }
  .collection-item:hover {
    transform: scale(1.05); }
    .collection-item:hover .collection-item__hover {
      display: flex; }
  .collection-item .collection-item__hover {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center; }
    .collection-item .collection-item__hover .collection-item__favourite {
      align-items: center;
      background: #D81F27;
      border-radius: 25px;
      display: flex;
      height: 40px;
      justify-content: center;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 40px; }
      .collection-item .collection-item__hover .collection-item__favourite:hover {
        transform: scale(1.2); }

.options {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%; }
  .options > button {
    margin: 10px; }

.word-cloud {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .word-cloud.word-cloud--as-list {
    flex-direction: column; }
    .word-cloud.word-cloud--as-list .word-cloud__word {
      font-size: 40px !important;
      justify-content: center; }
  .word-cloud .word-cloud__word {
    align-items: end;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    margin: 10px; }
    .word-cloud .word-cloud__word:hover {
      color: black;
      text-decoration: underline; }

#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  position: absolute;
  width: 100%; }
  #container #jumbotron {
    color: #D81F27;
    font-size: 70px;
    text-align: center; }
    #container #jumbotron > img {
      height: 190px;
      width: 325px; }
  #container #get-viewing {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    transform: scale(1.5);
    width: 210px; }
    #container #get-viewing > i {
      position: relative; }
    #container #get-viewing:hover > i {
      animation: move 1s infinite; }
@keyframes move {
  0% {
    left: 0; }
  50% {
    left: 10px; }
  100% {
    left: 0; } }
.options {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%; }
  .options > button {
    margin: 10px; }

.page-title {
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 40px;
  padding: 10px 0;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 10; }

.image-tile {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.nav-bar .button {
  border-radius: 25px; }

.details {
  display: flex;
  padding: 10px; }
  .details .details__image {
    align-self: flex-start;
    position: sticky;
    top: 80px; }
    .details .details__image > img {
      max-width: 700px;
      min-width: 300px; }
  .details .details__info {
    flex-grow: 1;
    font-size: 20px;
    margin-left: 10px; }
    .details .details__info .details__detail {
      margin: 10px; }
      .details .details__info .details__detail .details__detail-key {
        color: #444;
        text-decoration: underline; }
      .details .details__info .details__detail .details__detail-value {
        font-size: 16px;
        padding: 10px 0 0 10px; }

.related-title {
  color: #333;
  text-decoration: underline;
  margin-left: 20px;
  text-align: center; }

.related {
  display: flex;
  overflow: auto; }
  .related .related__image {
    margin: 10px; }

.button.button--floating {
  bottom: 10px;
  position: fixed;
  right: 10px; }

.favourites {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.search-box {
  position: relative; }
  .search-box .search-icon {
    color: #707070;
    font-size: 20px;
    left: 10px;
    position: absolute;
    top: 6px; }
  .search-box .search {
    border: none;
    color: #333;
    font-size: 20px;
    height: 50px;
    padding-left: 40px;
    width: 70%; }

.search-results {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#map {
  height: calc(100% - 70px);
  position: absolute;
  width: 100%; }

.leaflet-control-container, .leaflet-top.leaflet-right {
  height: 100%;
  position: relative;
  width: 100%; }

.info {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 6px 8px; }
  .info h4 {
    color: #D81F27;
    margin: 0 0 5px; }

.legend {
  color: #555;
  display: flex;
  flex-direction: column;
  line-height: .5;
  width: fit-content; }
  .legend span {
    align-items: center;
    display: flex; }
    .legend span i {
      float: left;
      height: 18px;
      margin-right: 8px;
      opacity: 0.7;
      width: 18px; }

.container {
  height: 100%;
  position: absolute;
  width: 100%; }
  .container .nav-bar {
    position: fixed;
    width: 100%; }

.century-overview {
  display: flex;
  height: calc(100% - 70px);
  justify-content: space-around;
  overflow: auto;
  position: absolute;
  top: 70px;
  min-width: 100%;
  width: fit-content; }
  .century-overview .century-overview__century {
    background: #E5E5E5;
    color: black;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    transition: all .1s linear;
    margin: 0 20px;
    width: 70px; }
    .century-overview .century-overview__century:hover {
      background: #D81F27;
      color: white;
      width: 90px; }

.century-explorer {
  height: calc(100% - 70px);
  position: absolute;
  top: 70px; }
  .century-explorer .date-explorer__century-viewer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

/*# sourceMappingURL=styles.css.map */
